body {
	font-size: 1.6em;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-hover-color;
	text-decoration: none;
}


