section {
    &.newsletter {
        font-size: 1em;
        padding: 2em 0;

        .entry-header {
            margin-bottom: 2em;
            h1.entry-title {
                font-size: 3em;
                @extend .htags;
                &:before {
                    content: '';
                    width: .85em;
                    height: 2px;
                    background: #BCD530;
                    display: block;
                    margin: .25em auto .4em;
                }
            }
        }

        .entry-content {
            form {
                input {
                    background: #bcbcbc;
                    border-radius: 4px;
                    padding: 1em;
                    border: none;
                    outline: none;

                    &::-moz-placeholder {
                      color: #fff;
                      font-weight: 400;
                      opacity: 1;
                    }

                    &::-webkit-input-placeholder {
                      color: #fff;
                      font-weight: 400;
                    }

                    &.wpcf7-submit {
                        background: #393939;
                        color: #fff;
                    }
                
                }
            }
        }

    }
}