.projects {
    font-size: 1em;
    padding: 2em 0 3em;
    background: url(../images/portfolio_bg.jpg)no-repeat top center;
    background-size: cover;

    .entry-header {
      h1.entry-title {
        font-size: 3em;
        color: #fff;
        @extend .htags;
        &:before {
            content: '';
            width: .85em;
            height: 2px;
            background: #BCD530;
            display: block;
            margin: .25em auto .4em;
        }
      }
      p {
        margin-bottom: 1.75em;
      }
    }

    .item {
      margin-bottom: 2em;
    }

    a.btn {
      margin-top: 2em;
    }

}
