section {
	&.about {
		font-size: 1.125em;
		padding: 2em 0;

		h2 {
			@extend .caps;
			@extend .htags;
			&:before {
				content: '___';
				display: block;
				color: $green;
				@extend .mb1em;
			}
		}

		.entry-content {
			p {
				margin-bottom: 2em;
				a {
					&.btn {
						@extend .noradius;
						padding: .5em 1em;
						&:after {
							content: "\f178";
							margin-left: .75em;
							@extend .awesome;
						}
					}
				}
			}
		}
	}
}