.header-section {
	font-size: 1em;
	background: url(../images/header_bg.jpg)no-repeat;
	background-size: cover;
	padding: 12em 0;
}

.site-header {

	.title-area {
		.site-title {
			a {
		    background: url(../images/logo.png) no-repeat top center;
			  text-indent: -10000px;
			  display: inline-block;
			  width: 20em;
			  min-height: 2.8em;
			}
		}
	}


	.widget {
		border: none;
	}

	.nav-header {
		ul {
			li {
				display: inline-block;
				padding: 0 .75em;
				a {
					font-size: 2em;
					color: $white;
					@extend .htags;
					@extend .caps;
					&:hover {
						color: $pink;
					}
				}
			}
		}
	}

}