section {
	&.projects {
		font-size: 1em;
		padding: 2em 0 3em;
		background: url(../images/portfolio_bg.jpg)no-repeat top center;
		background-size: cover;

		.entry-header {
			h2.entry-title {
				color: #fff;
				@extend .mb1em;
				@extend .caps;
				@extend .htags;
				&:before {
					content: '___';
					display: block;
					color: $green;
					@extend .mb1em;
				}
			}
		}

		.item {
			margin-bottom: 2em;
		}

	}
}