@media screen and (max-width: 1200px) {
	.site-header {
		padding: 20% 0;
		.title-area {
			width: 75%;
		}
	}

	.genesis-nav-menu {
		font-size: .75em;
	}
}

@media screen and (max-width: 960px) {


}