@media screen and (max-width: 1200px) {
  .site-header {
    padding: 5% 0 0;
  }

  .genesis-nav-menu {
    font-size: .75em;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  .site-header {
    .title-area {
      width: 8em;
      float: none;
      margin: auto;
    }
    .widget-area {
      width: 100%;
      padding-top: 0;
      padding-right: 0;
      text-align: center;
      float: none;
    }
  }

  .navbar-default .navbar-collapse {
    border: none;
  }

  .navbar-toggle {
    float: none;
    margin-right: 0;
  }

  .navbar-nav  {
    text-align: center;
    float: none;
    > li{
      float: none;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar-nav>li {
    display: block;
  }

  .newsletter .entry-content form input {
    margin-bottom: 1em;
  }
}